/* Element Chalk Variables */

// 注释要求：
// 类别名|属性名|值类型[color,px,number,percent,var,func,other]|描述|*ignore

// css属性分类有：

/* Transition
-------------------------- */
// 全局|过渡属性||ignore 
$--all-transition: all .3s cubic-bezier(.645,.045,.355,1) !default;
// 全局|过渡属性|fade|ignore 
$--fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
// 全局|过渡属性|fade-linear|ignore 
$--fade-linear-transition: opacity 200ms linear !default;
// 全局|过渡属性|md|ignore 
$--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
// 全局|过渡属性|border|ignore 
$--border-transition-base: border-color .2s cubic-bezier(.645,.045,.355,1) !default;
// 全局|transition|color|ignore 
$--color-transition-base: color .2s cubic-bezier(.645,.045,.355,1) !default;

/* Color
-------------------------- */
// 全局|填充色|主色调 
$--color-primary: #409EFF !default;
// 全局|填充色|白色 
$--color-white: #FFFFFF !default;
// 全局|填充色|黑色 
$--color-black: #000000 !default;
// 全局|填充色|主色调亮度1|ignore 
$--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default; /* 53a8ff */
// 全局|填充色|主色调亮度2|ignore 
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default; /* 66b1ff */
// 全局|填充色|主色调亮度3|ignore 
$--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default; /* 79bbff */
// 全局|填充色|主色调亮度4|ignore 
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default; /* 8cc5ff */
// 全局|填充色|主色调亮度5|ignore 
$--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default; /* a0cfff */
// 全局|填充色|主色调亮度6|ignore 
$--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default; /* b3d8ff */
// 全局|填充色|主色调亮度7|ignore 
$--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default; /* c6e2ff */
// 全局|填充色|主色调亮度8|ignore 
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default; /* d9ecff */
// 全局|填充色|主色调亮度9|ignore 
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default; /* ecf5ff */
// 全局|填充色|Success颜色 
$--color-success: #67C23A !default;
// 全局|填充色|Warning颜色 
$--color-warning: #E6A23C !default;
// 全局|填充色|Danger颜色 
$--color-danger: #F56C6C !default;
// 全局|填充色|Info颜色 
$--color-info: #909399 !default;

// 全局|填充色|Success加亮颜色|ignore 

$--color-success-light: mix($--color-white, $--color-success, 80%) !default;
// 全局|填充色|Warning加亮颜色|ignore 
$--color-warning-light: mix($--color-white, $--color-warning, 80%) !default;
// 全局|填充色|Danger加亮颜色|ignore 
$--color-danger-light: mix($--color-white, $--color-danger, 80%) !default;
// 全局|ignore 
$--color-info-light: mix($--color-white, $--color-info, 80%) !default;

// 全局|ignore 

$--color-success-lighter: mix($--color-white, $--color-success, 90%) !default;
// 全局|ignore 
$--color-warning-lighter: mix($--color-white, $--color-warning, 90%) !default;
// 全局|ignore 
$--color-danger-lighter: mix($--color-white, $--color-danger, 90%) !default;
// 全局|ignore 
$--color-info-lighter: mix($--color-white, $--color-info, 90%) !default;
// 全局|填充色|主要文字颜色 
$--color-text-primary: #303133 !default;
// 全局|填充色|常规文字颜色 
$--color-text-regular: #606266 !default;
// 全局|填充色|次要文字颜色 
$--color-text-secondary: #909399 !default;
// 全局|填充色|占位文字颜色 
$--color-text-placeholder: #C0C4CC !default;
// 全局|边框|边框默认颜色 
$--border-color-base: #DCDFE6 !default;
// 全局|边框|边框light颜色 
$--border-color-light: #E4E7ED !default;
// 全局|边框|边框lighter颜色 
$--border-color-lighter: #EBEEF5 !default;
// 全局|边框|边框extra-light颜色 
$--border-color-extra-light: #F2F6FC !default;

// Background
// 全局|填充色|默认背景色 
$--background-color-base: #f5f7fa !default;

/* Link
-------------------------- */
// 全局|填充色|链接颜色|ignore 
$--link-color: $--color-primary-light-2 !default;
// 全局|填充色|链接hover后颜色 
$--link-hover-color: $--color-primary !default;

/* Border
-------------------------- */
// 全局|边框|边框大小 
$--border-width-base: 1px !default;
// 全局|边框|边框实线 
$--border-style-base: solid !default;
// 全局|边框|边框hover颜色 
$--border-color-hover: $--color-text-placeholder !default;
// 全局|边框|默认边框值 1px solid #dcdfe6|ignore 
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;
// 全局|边框|边框默认圆角值 
$--border-radius-base: 4px !default;
// 全局|边框|边框小圆角值 
$--border-radius-small: 2px !default;
// 全局|边框|边框圆角100% 
$--border-radius-circle: 100% !default;

// Box-shadow
// 全局|边框|默认阴影 
$--box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04) !default;
// 全局|边框|dark阴影 
$--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12) !default;
// 全局|边框|light阴影 
$--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;

/* Fill
-------------------------- */
// 全局|填充色|填充基本色 
$--fill-base: $--color-white !default;

/* Typography
-------------------------- */
$--font-path: 'fonts' !default;
$--font-size-extra-large: 20px !default;
// 全局|字体|large字体大小 
$--font-size-large: 18px !default;
$--font-size-medium: 16px !default;
// 全局|字体|默认字体大小 
$--font-size-base: 14px !default;
// 全局|字体|small字体大小 
$--font-size-small: 13px !default;
$--font-size-extra-small: 12px !default;
// 全局|字体|字体权重 
$--font-weight-primary: 500 !default;
$--font-weight-secondary: 100 !default;
// 全局|字体|字体行高 
$--font-line-height-primary: 24px !default;
$--font-line-height-secondary: 16px !default;
// 全局|字体|文字禁用颜色 
$--font-color-disabled-base: #bbb !default;
/* Size
-------------------------- */
// 全局|字体|字体默认大小 
$--size-base: 14px !default;

/* z-index
-------------------------- */
// 全局|定位|堆叠顺序正常值 
$--index-normal: 1 !default;
// 全局|定位|堆叠顺序顶部值 
$--index-top: 1000 !default;
// 全局|定位|堆叠顺序弹出框值 
$--index-popper: 2000 !default;

/* Disable base
-------------------------- */
// 全局|填充色|禁用背景填充色 
$--disabled-fill-base: $--background-color-base !default;
// 全局|填充色|禁用文字颜色 
$--disabled-color-base: $--color-text-placeholder !default;
// 全局|填充色|禁用边框颜色 
$--disabled-border-base: $--border-color-light !default;

/* Icon
-------------------------- */
// 全局|填充色|图标颜色 
$--icon-color: #666 !default;
// 全局|填充色|图标基本颜色 
$--icon-color-base: $--color-info !default;

/* Checkbox
-------------------------- */
// 多选框|字体|文字大小 
$--checkbox-font-size: 14px !default;
// 多选框|字体|定义字体的粗细 
$--checkbox-font-weight: $--font-weight-primary !default;
// 多选框|颜色|文字颜色 
$--checkbox-color: $--color-text-regular !default;
// 多选框|尺寸|选择框高度 
$--checkbox-input-height: 14px !default;
// 多选框|尺寸|选择框宽度 
$--checkbox-input-width: 14px !default;
// 多选框|边框|圆角值 
$--checkbox-input-border-radius: $--border-radius-small !default;
// 多选框|背景|填充背景色 
$--checkbox-input-fill: $--color-white !default;
// 多选框|边框|默认边框 
$--checkbox-input-border: $--border-base !default;
// 多选框|边框|focus 和 hover 时边框颜色 
$--checkbox-input-border-color: $--border-color-base !default;
// 多选框|图标颜色|ignore 
$--checkbox-icon-color: $--color-white !default;

// 多选框|边框|禁用时，边框颜色 

$--checkbox-disabled-input-border-color: $--border-color-base !default;
// 多选框|背景|禁用时，未选中，背景色 
$--checkbox-disabled-input-fill: #edf2fc !default;
// 多选框|边框|禁用时，未选中的 after属性边框颜色 
$--checkbox-disabled-icon-color: $--color-text-placeholder !default;

// 多选框|背景|禁用时，选中和不确定状态，背景色 

$--checkbox-disabled-checked-input-fill: $--border-color-extra-light !default;
// 多选框|边框|禁用时，选中和不确定状态，边框颜色 
$--checkbox-disabled-checked-input-border-color: $--border-color-base !default;
// 多选框|边框|禁用时，选中和不确定状态，after 和 before边框颜色 
$--checkbox-disabled-checked-icon-color: $--color-text-placeholder !default;

// 多选框|颜色|选中时，label文字颜色 
$--checkbox-checked-text-color: $--color-primary !default;
// 多选框|边框|选中时，选中和不确定状态，边框颜色 
$--checkbox-checked-input-border-color: $--color-primary !default;
// 多选框|背景|选中时，选中和不确定状态，背景色 
$--checkbox-checked-input-fill: $--color-primary !default;
// 多选框|边框，背景| 不确定状态，before背景色，和 默认 after边框颜色 
$--checkbox-checked-icon-color: $--fill-base !default;

// 多选框|边框|focus 和 hover 状态下的边框颜色 

$--checkbox-input-border-color-hover: $--color-primary !default;

// 多选框|尺寸|带有边框，默认高度 

$--checkbox-bordered-height: 40px !default;
// 多选框|内边距|带有边框，默认内边距 
$--checkbox-bordered-padding: 9px 20px 9px 10px !default;
// 多选框|内边距|带有边框，medium内边距 
$--checkbox-bordered-medium-padding: 7px 20px 7px 10px !default;
// 多选框|内边距|带有边框，small内边距 
$--checkbox-bordered-small-padding: 5px 15px 5px 10px !default;
// 多选框|内边距|带有边框，mini内边距 
$--checkbox-bordered-mini-padding: 3px 15px 3px 10px !default;
// 多选框|尺寸|带有边框，尺寸mediumCheckBox框高度 
$--checkbox-bordered-medium-input-height: 14px !default;
// 多选框|尺寸|带有边框，尺寸mediumCheckBox框宽度 
$--checkbox-bordered-medium-input-width: 14px !default;
// 多选框|尺寸|带有边框，尺寸medium整体高度 
$--checkbox-bordered-medium-height: 36px !default;
// 多选框|尺寸|带有边框，尺寸 small 的CheckBox框高度 
$--checkbox-bordered-small-input-height: 12px !default;
// 多选框|尺寸|带有边框，尺寸 small 的CheckBox框宽度 
$--checkbox-bordered-small-input-width: 12px !default;
// 多选框|尺寸|带有边框，尺寸small整体高度 
$--checkbox-bordered-small-height: 32px !default;
// 多选框|尺寸|带有边框，尺寸 mini 的CheckBox框宽度 
$--checkbox-bordered-mini-input-height: 12px !default;
// 多选框|尺寸|带有边框，尺寸 mini 的CheckBox框宽度 
$--checkbox-bordered-mini-input-width: 12px !default;
// 多选框|尺寸|带有边框，尺寸mini整体高度 
$--checkbox-bordered-mini-height: 28px !default;

// 多选框|字体|按钮多选框文字大小|ignore 

$--checkbox-button-font-size: $--font-size-base !default;
// 多选框|背景|按钮样式多选组合，选中时背景色 
$--checkbox-button-checked-fill: $--color-primary !default;
// 多选框|颜色|按钮样式多选组合，选中时文本颜色 
$--checkbox-button-checked-color: $--color-white !default;
// 多选框|边框|按钮样式多选组合，选中和focus状态边框颜色 
$--checkbox-button-checked-border-color: $--color-primary !default;



/* Radio
-------------------------- */
// 单选框|字体|文字大小 
$--radio-font-size: $--font-size-base !default;
// 单选框|字体|文字权重 
$--radio-font-weight: $--font-weight-primary !default;
$--radio-font-color: $--color-text-regular !default;
// 单选框|尺寸|单选框高度 
$--radio-input-height: 14px !default;
// 单选框|尺寸|单选框宽度 
$--radio-input-width: 14px !default;
// 单选框|边框|圆角值 
$--radio-input-border-radius: $--border-radius-circle !default;
$--radio-input-background-color: $--color-white !default;
// 单选框|没选中-边界 
$--radio-input-border: $--border-base !default;
// 单选框|没选中-边界颜色 
$--radio-input-border-color: $--border-color-base !default;
// 单选框|没选中-图标颜色 
$--radio-icon-color: $--color-white !default;

// 单选框|没选中-禁用时-边界颜色 

$--radio-disabled-input-border-color: $--disabled-border-base !default;
// 单选框|没选中-禁用时-背景色 
$--radio-disabled-input-fill: $--disabled-fill-base !default;
// 单选框|没选中-禁用时-图标颜色 
$--radio-disabled-icon-color: $--disabled-fill-base !default;

// 单选框|选中-禁用时-边界颜色 

$--radio-disabled-checked-input-border-color: $--disabled-border-base !default;
// 单选框|选中-禁用时-背景色 
$--radio-disabled-checked-input-fill: $--disabled-fill-base !default;
// 单选框|选中-禁用时-图标颜色 
$--radio-disabled-checked-icon-color: $--color-text-placeholder !default;
$--radio-checked-font-color: $--color-primary !default;
// 单选框|选中-边界颜色 
$--radio-checked-input-border-color: $--color-primary !default;
$--radio-checked-input-background-color: $--color-white !default;
// 单选框|选中-图标颜色 
$--radio-checked-icon-color: $--color-primary !default;

// 单选框|选择框放上去颜色 

$--radio-input-border-color-hover: $--color-primary !default;

// 单选框|显示边框-默认尺寸-高度 

$--radio-bordered-height: 40px !default;
// 单选框|显示边框-默认尺寸-内边距 
$--radio-bordered-padding: 12px 20px 0 10px !default;
// 单选框|显示边框-medium尺寸-内边距 
$--radio-bordered-medium-padding: 10px 20px 0 10px !default;
// 单选框|显示边框-small尺寸-内边距 
$--radio-bordered-small-padding: 8px 15px 0 10px !default;
// 单选框|显示边框-mini尺寸-内边距 
$--radio-bordered-mini-padding: 6px 15px 0 10px !default;
// 单选框|显示边框-medium尺寸-单选框高度 
$--radio-bordered-medium-input-height: 14px !default;
// 单选框|显示边框-medium尺寸-单选框宽度 
$--radio-bordered-medium-input-width: 14px !default;
// 单选框|显示边框-medium尺寸-高度 
$--radio-bordered-medium-height: 36px !default;
// 单选框|显示边框-small尺寸-单选框高度 
$--radio-bordered-small-input-height: 12px !default;
// 单选框|显示边框-small尺寸-单选框宽度 
$--radio-bordered-small-input-width: 12px !default;
// 单选框|显示边框-small尺寸-高度 
$--radio-bordered-small-height: 32px !default;
// 单选框|显示边框-mini尺寸-单选框高度 
$--radio-bordered-mini-input-height: 12px !default;
// 单选框|显示边框-mini尺寸-单选框宽度 
$--radio-bordered-mini-input-width: 12px !default;
// 单选框|显示边框-mini尺寸-高度 
$--radio-bordered-mini-height: 28px !default;
// 单选框|单选按钮-文字大小 
$--radio-button-font-size: $--font-size-base !default;
$--radio-button-checked-background-color: $--color-primary !default;
$--radio-button-checked-font-color: $--color-white !default;
// 单选框|单选按钮-选中-边界颜色 
$--radio-button-checked-border-color: $--color-primary !default;
// 单选框|单选按钮-禁用-选中-背景色 
$--radio-button-disabled-checked-fill: $--border-color-extra-light !default;

/* Select
-------------------------- */
// 选择器|边框-hover放上去颜色 
$--select-border-color-hover: $--border-color-hover !default;
// 选择器|边框-禁用-边框颜色 
$--select-disabled-border: $--disabled-border-base !default;
// 选择器|文字大小 
$--select-font-size: $--font-size-base !default;
// 选择器|关闭按钮-hover放上去颜色 
$--select-close-hover-color: $--color-text-secondary !default;

// 选择器|输入框内文字颜色 

$--select-input-color: $--color-text-placeholder !default;
// 选择器|多选输入框内文字颜色 
$--select-multiple-input-color: #666 !default;
// 选择器|输入框得到焦点时-背景色 
$--select-input-focus-background: $--color-primary !default;
// 选择器|输入框内文字大小 
$--select-input-font-size: 14px !default;

// 选择器|下拉框-正常-文字颜色 

$--select-option-color: $--color-text-regular !default;
// 选择器|下拉框-禁用-文字颜色 
$--select-option-disabled-color: $--color-text-placeholder !default;
// 选择器|下拉框-禁用-背景色 
$--select-option-disabled-background: $--color-white !default;
// 选择器|下拉框-每项高度 
$--select-option-height: 34px !default;
// 选择器|下拉框-每项hover放上去背景色 
$--select-option-hover-background: $--background-color-base !default;
// 选择器|下拉框-每项选中文字颜色 
$--select-option-selected: $--color-primary !default;
// 选择器|下拉框-每项选中hover放上去背景色 
$--select-option-selected-hover: $--background-color-base !default;

// 选择器|分组-标题颜色 

$--select-group-color: $--color-info !default;
// 选择器|分组-行高 
$--select-group-height: 30px !default;
// 选择器|分组-文字大小 
$--select-group-font-size: 12px !default;

// 选择器|下拉框背景色 

$--select-dropdown-background: $--color-white !default;
// 选择器|下拉框阴影 
$--select-dropdown-shadow: $--box-shadow-light !default;
// 选择器|下拉框-空-文字颜色 
$--select-dropdown-empty-color: #999 !default;
// 选择器|下拉框最大高度 
$--select-dropdown-max-height: 274px !default;
// 选择器|下拉框内边距 
$--select-dropdown-padding: 6px 0 !default;
// 选择器|下拉框-空-内边距 
$--select-dropdown-empty-padding: 10px 0 !default;
// 选择器|下拉框-边框 
$--select-dropdown-border: solid 1px $--border-color-light !default;

/* Alert
-------------------------- */
// 警告框|内边距 
$--alert-padding: 8px 16px !default;
// 警告框|圆角值 
$--alert-border-radius: $--border-radius-base !default;
// 警告框|标题文字大小 
$--alert-title-font-size: 13px !default;
// 警告框|描述文字大小 
$--alert-description-font-size: 12px !default;
// 警告框|关闭按钮文字大小 
$--alert-close-font-size: 12px !default;
// 警告框|定制关闭按钮文字大小 
$--alert-close-customed-font-size: 13px !default;

// 警告框|成功状态 success-背景色|ignore 

$--alert-success-color: $--color-success-lighter !default;
// 警告框|消息提示 info-背景色|ignore 
$--alert-info-color: $--color-info-lighter !default;
// 警告框|警告提示 warning-背景色|ignore 
$--alert-warning-color: $--color-warning-lighter !default;
// 警告框|错误提示 danger-背景色|ignore 
$--alert-danger-color: $--color-danger-lighter !default;

// 警告框|图标默认大小 

$--alert-icon-size: 16px !default;
// 警告框|large图标大小 
$--alert-icon-large-size: 28px !default;

/* Message Box
-------------------------- */
// 弹框|默认宽度 
$--msgbox-width: 420px !default;
// 弹框|圆角值 
$--msgbox-border-radius: 4px !default;
// 弹框|标题文字大小 
$--msgbox-font-size: $--font-size-large !default;
// 弹框|描述文字大小 
$--msgbox-content-font-size: $--font-size-base !default;
// 弹框|描述文字颜色 
$--msgbox-content-color: $--color-text-regular !default;
// 弹框|错误类型error-文字大小 
$--msgbox-error-font-size: 12px !default;
// 弹框|内边距 
$--msgbox-padding-primary: 15px !default;

// 弹框|success类型-图标颜色 

$--msgbox-success-color: $--color-success !default;
// 弹框|消息提示，info类型-图标颜色 
$--msgbox-info-color: $--color-info !default;
// 弹框|警告提示，warning类型-图标颜色 
$--msgbox-warning-color: $--color-warning !default;
// 弹框|错误提示，danger类型-图标颜色 
$--msgbox-danger-color: $--color-danger !default;

/* Message
-------------------------- */
// 消息提示|阴影 
$--message-shadow: $--box-shadow-base !default;
// 消息提示|最小宽度 
$--message-min-width: 380px !default;
// 消息提示|默认背景色 
$--message-background-color: #edf2fc !default;
// 消息提示|内边距 
$--message-padding: 15px 15px 15px 20px !default;
// 消息提示|描述文字颜色 
$--message-content-color: $--color-text-regular !default;
// 消息提示|关闭按钮颜色 
$--message-close-color: $--color-text-placeholder !default;
// 消息提示|关闭按钮文字大小 
$--message-close-size: 16px !default;
// 消息提示|关闭按钮hover颜色 
$--message-close-hover-color: $--color-text-secondary !default;

// 消息提示|success主题-背景色 

$--message-success-color: $--color-success !default;
// 消息提示|info主题-背景色 
$--message-info-color: $--color-info !default;
// 消息提示|warning主题-背景色 
$--message-warning-color: $--color-warning !default;
// 消息提示|danger主题-背景色 
$--message-danger-color: $--color-danger !default;

/* Notification
-------------------------- */
// 通知|宽度 
$--notification-width: 330px !default;
// 通知|内边距 
$--notification-padding: 14px 26px 14px 13px !default;
// 通知|圆角值 
$--notification-radius: 8px !default;
// 通知|阴影 
$--notification-shadow: $--box-shadow-light !default;
// 通知|边框颜色 
$--notification-border-color: $--border-color-lighter !default;
// 通知|图标大小 
$--notification-icon-size: 24px !default;
// 通知|关闭按钮文字大小 
$--notification-close-font-size: $--message-close-size !default;
// 通知|分组外边距 
$--notification-group-margin: 13px !default;
// 通知|文字大小 
$--notification-font-size: $--font-size-base !default;
// 通知|文字颜色 
$--notification-color: $--color-text-regular !default;
// 通知|标题大小 
$--notification-title-font-size: 16px !default;
// 通知|标题颜色 
$--notification-title-color: $--color-text-primary !default;

// 通知|关闭按钮颜色 

$--notification-close-color: $--color-text-secondary !default;
// 通知|关闭按钮-放上去颜色 
$--notification-close-hover-color: $--color-text-regular !default;

// 通知|success主题-图标颜色 

$--notification-success-color: $--color-success !default;
// 通知|info主题-图标颜色 
$--notification-info-color: $--color-info !default;
// 通知|warning主题-图标颜色 
$--notification-warning-color: $--color-warning !default;
// 通知|danger主题-图标颜色 
$--notification-danger-color: $--color-danger !default;

/* Input
-------------------------- */
// 输入框|文字大小 
$--input-font-size: $--font-size-base !default;
// 输入框|文字颜色 
$--input-color: $--color-text-regular !default;
// 输入框|默认宽度 
$--input-width: 140px !default;
// 输入框|默认高度 
$--input-height: 40px !default;
// 输入框|边框 
$--input-border: $--border-base !default;
// 输入框|边框颜色 
$--input-border-color: $--border-color-base !default;
// 输入框|边框圆角值 
$--input-border-radius: $--border-radius-base !default;
// 输入框|边框-放上去颜色 
$--input-border-color-hover: $--border-color-hover !default;
// 输入框|正常-背景色 
$--input-fill: $--color-white !default;
// 输入框|禁用-背景色-无效 
$--input-fill-disabled: $--disabled-fill-base !default;
// 输入框|禁用-文字颜色 
$--input-color-disabled: $--font-color-disabled-base !default;
// 输入框|图标颜色深 
$--input-icon-color: $--color-text-placeholder !default;
// 输入框|占位符文字颜色 
$--input-placeholder-color: $--color-text-placeholder !default;
// 输入框|最大宽度 
$--input-max-width: 314px !default;

// 输入框|放上去颜色 

$--input-hover-border: $--border-color-hover !default;
// 输入框|清除按钮-放上去颜色 
$--input-clear-hover-color: $--color-text-secondary !default;

// 输入框|得到焦点-边框颜色 

$--input-focus-border: $--color-primary !default;
// 输入框|得到焦点-背景色 
$--input-focus-fill: $--color-white !default;

// 输入框|禁用-背景色 

$--input-disabled-fill: $--disabled-fill-base !default;
// 输入框|禁用-边框颜色 
$--input-disabled-border: $--disabled-border-base !default;
// 输入框|禁用-文字颜色 
$--input-disabled-color: $--disabled-color-base !default;
// 输入框|禁用-占位符文字颜色 
$--input-disabled-placeholder-color: $--color-text-placeholder !default;

// 输入框|尺寸medium-文字大小 

$--input-medium-font-size: 14px !default;
// 输入框|尺寸medium-高度 
$--input-medium-height: 36px !default;

// 输入框|尺寸small文字大小 

$--input-small-font-size: 13px !default;
// 输入框|尺寸small-高度 
$--input-small-height: 32px !default;

// 输入框|尺寸mini文字大小 

$--input-mini-font-size: 12px !default;
// 输入框|尺寸mini-高度 
$--input-mini-height: 28px !default;

/* Cascader
-------------------------- */
// 级联选择器|菜单填充颜色 
$--cascader-menu-fill: $--fill-base !default;
// 级联选择器|菜单文字大小 
$--cascader-menu-font-size: $--font-size-base !default;
// 级联选择器|菜单圆角值 
$--cascader-menu-radius: $--border-radius-base !default;
// 级联选择器|菜单边界 
$--cascader-menu-border: $--border-base !default;
// 级联选择器|菜单边界颜色 
$--cascader-menu-border-color: $--border-color-base !default;
// 级联选择器|菜单边界宽度 
$--cascader-menu-border-width: $--border-width-base !default;
// 级联选择器|菜单文字颜色 
$--cascader-menu-color: $--color-text-regular !default;
// 级联选择器|选项激活颜色 
$--cascader-menu-option-color-active: $--color-text-secondary !default;
$--cascader-menu-option-fill-active: rgba($--color-text-secondary, 0.12) !default;
$--cascader-menu-option-color-hover: $--color-text-regular !default;
$--cascader-menu-option-fill-hover: rgba($--color-text-primary, 0.06) !default;
$--cascader-menu-option-color-disabled: #999 !default;
$--cascader-menu-option-fill-disabled: rgba($--color-black, 0.06) !default;
$--cascader-menu-option-empty-color: #666 !default;
$--cascader-menu-group-color: #999 !default;
$--cascader-menu-shadow: 0 1px 2px rgba($--color-black, 0.14), 0 0 3px rgba($--color-black, 0.14) !default;
$--cascader-menu-option-pinyin-color: #999 !default;
$--cascader-menu-submenu-shadow: 1px 1px 2px rgba($--color-black, 0.14), 1px 0 2px rgba($--color-black, 0.14) !default;

/* Group
-------------------------- */
$--group-option-flex: 0 0 (1/5) * 100% !default;
$--group-option-offset-bottom: 12px !default;
$--group-option-fill-hover: rgba($--color-black, 0.06) !default;
$--group-title-color: $--color-black !default;
$--group-title-font-size: $--font-size-base !default;
$--group-title-width: 66px !default;

/* Tab
-------------------------- */
$--tab-font-size: $--font-size-base !default;
$--tab-border-line: 1px solid #e4e4e4 !default;
$--tab-header-color-active: $--color-text-secondary !default;
$--tab-header-color-hover: $--color-text-regular !default;
$--tab-header-color: $--color-text-regular !default;
$--tab-header-fill-active: rgba($--color-black, 0.06) !default;
$--tab-header-fill-hover: rgba($--color-black, 0.06) !default;
$--tab-vertical-header-width: 90px !default;
$--tab-vertical-header-count-color: $--color-white !default;
$--tab-vertical-header-count-fill: $--color-text-secondary !default;

/* Button
-------------------------- */
// 按钮|按钮文字大小 
$--button-font-size: $--font-size-base !default;
// 按钮|按钮文字权重 
$--button-font-weight: $--font-weight-primary !default;
// 按钮|圆角大小 
$--button-border-radius: $--border-radius-base !default;
// 按钮|垂直内边距 
$--button-padding-vertical: 12px !default;
// 按钮|水平内边距 
$--button-padding-horizontal: 20px !default;
// 按钮|尺寸medium-文字大小 
$--button-medium-font-size: $--font-size-base !default;
// 按钮|尺寸medium-圆角值 
$--button-medium-border-radius: $--border-radius-base !default;
// 按钮|尺寸medium-垂直内边距 
$--button-medium-padding-vertical: 10px !default;
// 按钮|尺寸medium-水平内边距 
$--button-medium-padding-horizontal: 20px !default;
// 按钮|尺寸small-文字大小 
$--button-small-font-size: 12px !default;
// 按钮|尺寸small-圆角值|ignore 
$--button-small-border-radius: #{$--border-radius-base - 1} !default;
// 按钮|尺寸small-垂直内边距 
$--button-small-padding-vertical: 9px !default;
// 按钮|尺寸small-水平内边距 
$--button-small-padding-horizontal: 15px !default;

// 按钮|尺寸mini-文字大小 

$--button-mini-font-size: 12px !default;
// 按钮|尺寸mini-圆角值|ignore 
$--button-mini-border-radius: #{$--border-radius-base - 1} !default;
// 按钮|尺寸mini-垂直内边距 
$--button-mini-padding-vertical: 7px !default;
// 按钮|尺寸mini-水平内边距 
$--button-mini-padding-horizontal: 15px !default;
$--button-default-font-color: $--color-text-regular !default;
$--button-default-background-color: $--color-white !default;
$--button-default-border-color: $--border-color-base !default;
$--button-disabled-font-color: $--color-text-placeholder !default;
$--button-disabled-background-color: $--color-white !default;
$--button-disabled-border-color: $--border-color-lighter !default;
$--button-primary-border-color: $--color-primary !default;
$--button-primary-font-color: $--color-white !default;
$--button-primary-background-color: $--color-primary !default;
$--button-success-border-color: $--color-success !default;
$--button-success-font-color: $--color-white !default;
$--button-success-background-color: $--color-success !default;
$--button-warning-border-color: $--color-warning !default;
$--button-warning-font-color: $--color-white !default;
$--button-warning-background-color: $--color-warning !default;
$--button-danger-border-color: $--color-danger !default;
$--button-danger-font-color: $--color-white !default;
$--button-danger-background-color: $--color-danger !default;
$--button-info-border-color: $--color-info !default;
$--button-info-font-color: $--color-white !default;
$--button-info-background-color: $--color-info !default;

// 按钮|获得焦点百分比值-计算出颜色 

$--button-hover-tint-percent: 20% !default;
// 按钮|激活百分比值-计算出颜色 
$--button-active-shade-percent: 10% !default;


/* cascader
-------------------------- */
$--cascader-height: 200px !default;

/* Switch
-------------------------- */
// 开关|状态-开-边框、背景色 
$--switch-on-color: $--color-primary !default;
// 开关|状态-关-边框、背景色 
$--switch-off-color: $--border-color-base !default;
// 开关|状态-禁用-边框、背景色-没使用 
$--switch-disabled-color: $--border-color-lighter !default;
// 开关|状态-禁用-文字颜色 
$--switch-disabled-text-color: $--color-text-placeholder !default;

// 开关|文字大小 

$--switch-font-size: $--font-size-base !default;
// 开关|圆角值 
$--switch-core-border-radius: 10px !default;
// 开关|宽度 
$--switch-width: 40px !default;
// 开关|高度 
$--switch-height: 20px !default;
// 开关|文字大小 
$--switch-button-size: 16px !default;

/* Dialog
-------------------------- */
// 对话框|背景色 
$--dialog-background-color: $--color-primary-light-4 !default;
// 对话框|阴影 
$--dialog-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) !default;
// 对话框|关闭按钮-放上去颜色 
$--dialog-close-hover-color: $--color-primary !default;
// 对话框|标题文字大小 
$--dialog-title-font-size: $--font-size-large !default;
// 对话框|内容文字大小 
$--dialog-font-size: 14px !default;
$--dialog-font-line-height: $--font-line-height-primary !default;
// 对话框|头部底部内边距 
$--dialog-padding-primary: 20px !default;

/* Table
-------------------------- */
$--table-border-color: $--border-color-lighter !default;
// 表格|边框 
$--table-border: 1px solid $--table-border-color !default;
// 表格|文字颜色 
$--table-text-color: $--color-text-regular !default;
// 表格|头部文字颜色 
$--table-header-color: $--color-text-secondary !default;
// 表格|每行td背景色 
$--table-row-hover-background: $--background-color-base !default;
// 表格|当前行td背景色|ignore 
$--table-current-row-background: $--color-primary-light-9 !default;
// 表格|头部背景色 
$--table-header-background: $--color-white !default;
// 表格|底部背景色 没使用 
$--table-footer-background: $--color-text-placeholder !default;
// 表格|列固定阴影值 
$--table-fixed-box-shadow: 0 0 10px rgba(0, 0, 0, .12) !default;

/* Pagination
-------------------------- */
// 分页|文字大小 
$--pagination-font-size: 13px !default;
// 分页|背景色 
$--pagination-fill: $--color-white !default;
// 分页|文字颜色 
$--pagination-color: $--color-text-primary !default;
// 分页|圆角值 
$--pagination-border-radius: 3px !default;
// 分页|按钮(条数下拉框)-文字颜色 
$--pagination-button-color: $--color-text-primary !default;
// 分页|按钮(条数下拉框)-宽度 
$--pagination-button-width: 35.5px !default;
// 分页|按钮(条数下拉框)-高度 
$--pagination-button-height: 28px !default;
// 分页|按钮(条数下拉框)-禁用-文字颜色 
$--pagination-button-disabled-color: $--color-text-placeholder !default;
// 分页|按钮(条数下拉框)-禁用-背景色 
$--pagination-button-disabled-fill: $--color-white !default;
// 分页|hover放上去颜色 
$--pagination-hover-fill: $--color-primary !default;
$--pagination-hover-color: $--color-white !default;

/* Popover
-------------------------- */
// 弹出框|背景色 
$--popover-fill: $--color-white !default;
// 弹出框|文字大小 
$--popover-font-size: $--font-size-base !default;
// 弹出框|边框颜色 
$--popover-border-color: $--border-color-lighter !default;
// 弹出框|箭头宽度 
$--popover-arrow-size: 6px !default;
// 弹出框|内边距 
$--popover-padding: 12px !default;
// 弹出框|尺寸plain-内边距 
$--popover-padding-large: 18px 20px !default;
// 弹出框|标题文字大小 
$--popover-title-font-size: 16px !default;
// 弹出框|标题文字颜色 
$--popover-title-color: $--color-text-primary !default;

/* Tooltip
-------------------------- */
$--tooltip-fill: $--color-text-primary !default;
$--tooltip-color: $--color-white !default;
// 文字提示|文字大小 
$--tooltip-font-size: 12px !default;
$--tooltip-border-color: $--color-text-primary !default;
// 文字提示|箭头大小 
$--tooltip-arrow-size: 6px !default;
// 文字提示|内边距 
$--tooltip-padding: 10px !default;

/* Tag
-------------------------- */
// 标签|内边距 
$--tag-padding: 0 10px !default;
// 标签|默认主题-背景色 
$--tag-fill: rgba($--color-primary, 0.10) !default;
// 标签|默认主题-文字颜色 
$--tag-color: $--color-primary !default;
// 标签|默认主题-边框颜色 
$--tag-border: rgba($--color-primary, 0.20) !default;
// 标签|文字大小 
$--tag-font-size: 12px !default;
// 标签|圆角值 
$--tag-border-radius: 4px !default;

// 标签|info主题-背景色 

$--tag-info-fill: rgba($--color-info, 0.10) !default;
// 标签|info主题-边框颜色 
$--tag-info-border: rgba($--color-info, 0.20) !default;
// 标签|info主题-文字颜色 
$--tag-info-color: $--color-info !default;

// 标签|primary主题-背景色 

$--tag-primary-fill: rgba($--color-primary, 0.10) !default;
// 标签|primary主题-边框颜色 
$--tag-primary-border: rgba($--color-primary, 0.20) !default;
// 标签|primary主题-文字颜色 
$--tag-primary-color: $--color-primary !default;

// 标签|success主题-背景色 

$--tag-success-fill: rgba($--color-success, 0.10) !default;
// 标签|success主题-边框颜色 
$--tag-success-border: rgba($--color-success, 0.20) !default;
// 标签|success主题-文字颜色 
$--tag-success-color: $--color-success !default;

// 标签|warning-主题-背景色 

$--tag-warning-fill: rgba($--color-warning, 0.10) !default;
// 标签|warning-主题-边框颜色 
$--tag-warning-border: rgba($--color-warning, 0.20) !default;
// 标签|warning-主题-文字颜色 
$--tag-warning-color: $--color-warning !default;

// 标签|danger-主题-背景色 

$--tag-danger-fill: rgba($--color-danger, 0.10) !default;
// 标签|danger-主题-边框颜色 
$--tag-danger-border: rgba($--color-danger, 0.20) !default;
// 标签|danger-主题-文字颜色 
$--tag-danger-color: $--color-danger !default;

/* Tree
-------------------------- */
// 树形控件|节点 hover 及 focus 背景色 
$--tree-node-hover-color: $--background-color-base !default;
// 树形控件|文字颜色 
$--tree-text-color: $--color-text-regular !default;
// 树形控件|展开图标颜色 
$--tree-expand-icon-color: $--color-text-placeholder !default;

/* Dropdown
-------------------------- */
// 下拉菜单|菜单项-阴影值 
$--dropdown-menu-box-shadow: $--box-shadow-light !default;
// 下拉菜单|菜单项-放上去背景色|ignore 
$--dropdown-menuItem-hover-fill: $--color-primary-light-9 !default;
// 下拉菜单|菜单项-放上去文综颜色 
$--dropdown-menuItem-hover-color: $--link-color !default;

/* Badge
-------------------------- */
// 标记|默认主题-背景色 
$--badge-fill: $--color-danger !default;
// 标记|圆角值 
$--badge-radius: 10px !default;
// 标记|文字大小 
$--badge-font-size: 12px !default;
// 标记|间距 
$--badge-padding: 6px !default;
// 标记|高度及行高 
$--badge-size: 18px !default;

/* Card
--------------------------*/
// 卡片|边框颜色 
$--card-border-color: $--border-color-lighter !default;
// 卡片|圆角值 
$--card-border-radius: 4px !default;
// 卡片|内边距 
$--card-padding: 20px !default;

/* Slider
--------------------------*/
// 滑块|已划过-滑条背景色 
$--slider-main-background-color: $--color-primary !default;
// 滑块|未划过-滑条背景色 
$--slider-runway-background-color: $--border-color-light !default;
// 滑块|滑动按钮放上去颜色|ignore 
$--slider-button-hover-color: mix($--color-primary, black, 97%) !default;
// 滑块|断点-背景色 
$--slider-stop-background-color: $--color-white !default;
// 滑块|已划过-禁用-背景色 
$--slider-disable-color: $--color-text-placeholder !default;

// 滑块|外边距 

$--slider-margin: 16px 0 !default;
// 滑块|滑条圆角值 
$--slider-border-radius: 3px !default;
// 滑块|滑条高度 
$--slider-height: 6px !default;
// 滑块|按钮大小 
$--slider-button-size: 16px !default;
// 滑块|按钮外层块大小 
$--slider-button-wrapper-size: 36px !default;
// 滑块|按钮外层位置偏移值 
$--slider-button-wrapper-offset: -15px !default;

/* Steps
--------------------------*/
// 步骤条|边框颜色 
$--steps-border-color: $--disabled-border-base !default;
// 步骤条|圆角值 
$--steps-border-radius: 4px !default;
// 步骤条|内边距 
$--steps-padding: 20px !default;

/* Menu
--------------------------*/
// 菜单|文字大小 
$--menu-item-font-size: $--font-size-base !default;
// 菜单|所在项文字颜色 
$--menu-item-color: $--color-text-primary !default;
// 菜单|默认-背景色 
$--menu-item-fill: $--color-white !default;
// 菜单|每项hover放上去颜色|ignore 
$--menu-item-hover-fill: $--color-primary-light-9 !default;

/* Rate
--------------------------*/
// 评分|高度 
$--rate-height: 20px !default;
// 评分|辅助文字大小 
$--rate-font-size: $--font-size-base !default;
// 评分|图标大小 
$--rate-icon-size: 18px !default;
// 评分|图标右间距大小 
$--rate-icon-margin: 6px !default;
// 评分|图标未激活颜色 
$--rate-icon-color: $--color-text-placeholder !default;

/* DatePicker
--------------------------*/
// 日期选择器|可选-日期颜色 
$--datepicker-color: $--color-text-regular !default;
// 日期选择器|不可选-日期颜色 
$--datepicker-off-color: $--color-text-placeholder !default;
// 日期选择器|头部一二三四五六七颜色 
$--datepicker-header-color: $--color-text-regular !default;
// 日期选择器|顶部切换图标颜色 
$--datepicker-icon-color: $--color-text-primary !default;
// 日期选择器|日期面板边框颜色 
$--datepicker-border-color: $--disabled-border-base !default;
// 日期选择器|面板内边框颜色，如：中间线 
$--datepicker-inner-border-color: #e4e4e4 !default;
// 日期选择器|范围选择-选中后2个日期中间的背景色 
$--datepicker-inrange-color: $--border-color-extra-light !default;
// 日期选择器|范围选择-2个日期中间放上去的背景色 
$--datepicker-inrange-hover-color: $--border-color-extra-light !default;
// 日期选择器|选中日期颜色 
$--datepicker-active-color: $--color-primary !default;
// 日期选择器|日期放上去的颜色 
$--datepicker-text-hover-color: $--color-primary !default;
// 日期选择器|没使用 
$--datepicker-cell-hover-color: #fff !default;

/* Loading
--------------------------*/
$--loading-spinner-size: 42px !default;
$--loading-fullscreen-spinner-size: 50px !default;

/* Scrollbar
--------------------------*/
$--scrollbar-background-color: rgba($--color-text-secondary, .3) !default;
$--scrollbar-hover-background-color: rgba($--color-text-secondary, .5) !default;

/* Carousel
--------------------------*/
// 走马灯|箭头文字大小 
$--carousel-arrow-font-size: 12px !default;
// 走马灯|箭头大小 
$--carousel-arrow-size: 36px !default;
// 走马灯|箭头背景色 
$--carousel-arrow-background: rgba(31, 45, 61, 0.11) !default;
// 走马灯|箭头放上去颜色 
$--carousel-arrow-hover-background: rgba(31, 45, 61, 0.23) !default;
// 走马灯|下面切换按钮-宽度 
$--carousel-indicator-width: 30px !default;
// 走马灯|下面切换按钮-高度 
$--carousel-indicator-height: 2px !default;
// 走马灯|下面切换按钮-水平内边距 
$--carousel-indicator-padding-horizontal: 4px !default;
// 走马灯|下面切换按钮-垂直内边距 
$--carousel-indicator-padding-vertical: 12px !default;
// 走马灯|下面切换按钮-框内背景色 
$--carousel-indicator-out-color: $--border-color-hover !default;

/* Collapse
--------------------------*/
// 折叠面板|边框颜色 
$--collapse-border-color: $--border-color-lighter !default;
// 折叠面板|头部区域-高度和行高 
$--collapse-header-height: 48px !default;
// 折叠面板|头部区域-内边距（没使用） 
$--collapse-header-padding: 20px !default;
// 折叠面板|头部区域-背景色 
$--collapse-header-fill: $--color-white !default;
// 折叠面板|头部区域-文字颜色 
$--collapse-header-color: $--color-text-primary !default;
// 折叠面板|头部区域-文字大小 
$--collapse-header-size: 13px !default;
// 折叠面板|内容区域-背景色 
$--collapse-content-fill: $--color-white !default;
// 折叠面板|内容区域-文字大小 
$--collapse-content-size: 13px !default;
// 折叠面板|内容区域-文字颜色 
$--collapse-content-color: $--color-text-primary !default;

/* Transfer
--------------------------*/
// 穿梭框|边框颜色 
$--transfer-border-color: $--border-color-lighter !default;
// 穿梭框|圆角值 
$--transfer-border-radius: $--border-radius-base !default;
// 穿梭框|面板宽度 
$--transfer-panel-width: 200px !default;
// 穿梭框|面板头部高度 
$--transfer-panel-header-height: 40px !default;
// 穿梭框|面板头部背景色 
$--transfer-panel-header-background: $--background-color-base !default;
// 穿梭框|面板底部高度 
$--transfer-panel-footer-height: 40px !default;
// 穿梭框|面板内容区域高度 
$--transfer-panel-body-height: 246px !default;
// 穿梭框|每项高度 
$--transfer-item-height: 30px !default;
// 穿梭框|每项背景色 
$--transfer-item-hover-background: $--color-text-secondary !default;
// 穿梭框|搜索栏高度 
$--transfer-filter-height: 32px !default;

/* Header
  --------------------------*/
// ignore 
$--header-padding: 0 20px !default;

/* Footer
--------------------------*/
// ignore 
$--footer-padding: 0 20px !default;

/* Main
--------------------------*/
// ignore 
$--main-padding: 20px !default;

/* Timeline
--------------------------*/
$--timeline-node-size-normal: 12px !default;
$--timeline-node-size-large: 14px !default;
$--timeline-node-color: $--border-color-light !default;

/* Break-point
--------------------------*/
// ignore 
$--sm: 768px !default;
// ignore 
$--md: 992px !default;
// ignore 
$--lg: 1200px !default;
// ignore 
$--xl: 1920px !default;

// ignore 

$--breakpoints: (
  'xs' : (max-width: $--sm - 1),
  'sm' : (min-width: $--sm),
  'md' : (min-width: $--md),
  'lg' : (min-width: $--lg),
  'xl' : (min-width: $--xl)
);

// ignore 

$--breakpoints-spec: (
  'xs-only' : (max-width: $--sm - 1),
  'sm-and-up' : (min-width: $--sm),
  'sm-only': "(min-width: #{$--sm}) and (max-width: #{$--md} - 1)",
  'sm-and-down': (max-width: $--md - 1),
  'md-and-up' : (min-width: $--md),
  'md-only': "(min-width: #{$--md}) and (max-width: #{$--lg } - 1)",
  'md-and-down': (max-width: $--lg - 1),
  'lg-and-up' : (min-width: $--lg),
  'lg-only': "(min-width: #{$--lg}) and (max-width: #{$--xl } - 1)",
  'lg-and-down': (max-width: $--xl - 1),
  'xl-only' : (min-width: $--xl),
);
